* Fondo */

.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 30px;
}

.titulo h1 {
  font-size: 77px;
  margin-bottom: 50px;
  color: white;
}

.titulo h1 span {
  color: rgb(12, 101, 184);
}

.fondo {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/imagenes/fondo_assist.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 320px;
}

/* Form */

.loginBtn {
  padding: 9px 25px;
  background-color: rgb(240, 240, 240);
  color: rgb(12, 101, 184);
  border: 1px solid rgb(12, 101, 184);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 100%;
}

.loginBtn:hover {
  background-color: rgb(12, 101, 184);
  color: #fff;
  border: 1px solid rgb(12, 101, 184);
}

.loginDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.aire {
  display: none;
}

.centro {
  display: none;
}


@media (max-width: 416px) {

.fondo {
  max-width: 100%;
}

.titulo h1 {
  font-size: 50px;
}

}

@media (max-width: 416px) {

  .fondo {
    max-width: 100%;
  }
  
  .titulo h1 {
    font-size: 50px;
  }
  
  }